{% extends 'base.html.twig' %}

{% block title %}{{ 'card.title'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/card.css') }}">
{% endblock %}

{% block body %}
    <div class="page">
        <h1>{{ 'card.title'|trans }}</h1>
        <div class="right">
            {% if app.request.locale == 'en' %}
                <a href="{{ path('index', {_locale:'fr'}) }}" class="btn">{{ 'card.fr'|trans }}</a>
            {% elseif app.request.locale == 'fr' %}
                <a href="{{ path('index', {_locale:'en'}) }}" class="btn">{{ 'card.en'|trans }}</a>
            {% endif %}
        </div>
        <br />

        <div class="center">
            <div class="hand" id="non-ordered">
                {% for card in card_list %}
                    <div class="card {{ card['name'] }}_{{ card['color'] }}"></div>
                {% endfor %}
            </div>

            <div class="hand display-none" id="ordered">
                {% for card in ordered_card_list %}
                    <div class="card {{ card['name'] }}_{{ card['color'] }}"></div>
                {% endfor %}
            </div>
        </div>
        <br />
        <div class="right">
            <a class="btn" href="{{ path('index') }}">{{ 'card.reload'|trans }}</a>
            <div class="btn" id="switch">{{ 'card.display_ordered'|trans }}</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var flag = true;
            $('#switch').on('click', function () {
                if (flag ) {
                    $('#non-ordered').addClass('display-none');
                    $('#ordered').removeClass('display-none');
                    $('#switch').text('{{ 'card.display_unordered'|trans }}');
                    flag = false;
                } else {
                    $('#ordered').addClass('display-none');
                    $('#non-ordered').removeClass('display-none');
                    $('#switch').text('{{ 'card.display_ordered'|trans }}');
                    flag = true;
                }
            });
        });
    </script>
{% endblock %}
