body {
 font-family: Arial, Helvetica, sans-serif;
 background-image: linear-gradient(#4B8B20 20%, #1C440C 80%);
 margin: 0;
 background-attachment: fixed;
}

h1 {
 text-transform: uppercase;
 color: white;
}

.btn {
 padding: 6px 12px;
 border-radius: 4px;
 border: 1px solid #ccc;
 margin-bottom: 0;
 font-size: 14px;
 font-weight: 400;
 color: #333;
 background-color: #fff;
 text-decoration: none;
 display: inline-block;
 cursor: pointer;
}

.right {
 text-align: right;
}

.page {
 margin: 25px 100px;
}

.center {
 margin: 0 auto;
 width: 380px;
}

.hand {
 width: 380px;
}

.display-none {
 display: none;
}

.card {
  display: inline-block;
}

.ace_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -2px -1px;
}

.two_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -75px -1px;
}

.three_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -148px -1px;
}

.four_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -220px -1px;
}

.five_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -294px -1px;
}

.six_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -366px -1px;
}

.seven_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -440px -1px;
}

.eight_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -512px -1px;
}

.nine_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -586px -1px;
}

.ten_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -658px -1px;
}

.jack_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -732px -1px;
}

.queen_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -804px -1px;
}

.king_clubs {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -878px -1px;
}

.ace_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -2px -99px;
}

.two_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -75px -99px;
}

.three_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -148px -99px;
}

.four_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -220px -99px;
}

.five_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -294px -99px;
}

.six_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -366px -99px;
}

.seven_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -440px -99px;
}

.eight_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -512px -99px;
}

.nine_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -586px -99px;
}

.ten_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -658px -99px;
}

.jack_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -732px -99px;
}

.queen_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -804px -99px;
}

.king_hearts {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -878px -99px;
}

.ace_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -2px -197px;
}

.two_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -75px -197px;
}

.three_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -148px -197px;
}

.four_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -220px -197px;
}

.five_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -294px -197px;
}

.six_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -366px -197px;
}

.seven_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -440px -197px;
}

.eight_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -512px -197px;
}

.nine_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -586px -197px;
}

.ten_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -658px -197px;
}

.jack_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -732px -197px;
}

.queen_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -804px -197px;
}

.king_spades {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -878px -197px;
}

.ace_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -2px -295px;
}

.two_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -75px -295px;
}

.three_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -148px -295px;
}

.four_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -220px -295px;
}

.five_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -294px -295px;
}

.six_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -366px -295px;
}

.seven_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -440px -295px;
}

.eight_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -512px -295px;
}

.nine_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -586px -295px;
}

.ten_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -658px -295px;
}

.jack_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -732px -295px;
}

.queen_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -804px -295px;
}

.king_diamonds {
 width: 72px;
 height: 97px;
 background: url(/assets/img/windows-playing-cards.png) -878px -295px;
}
